button.checkout_btn{
  width: 200px;
  padding: 14px;
  border-radius: 14px;
  font-size: 20px;
  color: white;
  background: orange;
  border: 0px;
}
button:hover {
  background-color: white;
  color: orange;  
  cursor: pointer;
  border: solid;
  border-color: orange;
}